.primary_button{
    padding:5px 5%;
    background:#FFCC00;
    color:#000;
    margin:16px;
    border:1px solid #FFCC00;
    font-size: 16px;
    border-radius: 6px;
}
.secondary_button{
    padding:4px 20px;
    background:#fff;
    color:#000;
    margin:16px 0px;
    border:1px solid #fff;
    font-size: 16px;
    border-radius: 6px;
}

.licensesNav .slds-nav-vertical__item.slds-is-active a {
    font-weight: bold;
    box-shadow: inset 0.25rem 0 0 #ffcc00!important;
}

.licensesNav .slds-nav-vertical__item.slds-is-active:before {
    background: #f4f4f4;
}