@font-face{
    font-family: 'Roboto', sans-serif;
    src: url("@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Roboto:wght@100;300;400;500;700;900&display=swap')") format('TrueType');
}

.mainWraper{
    font-family: 'Roboto', sans-serif;
   
}

/* .content{
    padding: 1rem 8rem!important;
} */



.qauickLinks{
    justify-content: space-around;
    margin: 2rem 0px;

}


.qauickLinks .box{
    background: #F9F9F9;
    border:1px solid #F9F9F9;
    position: relative;
    padding: 2% 14%;
    max-height: 220px;
    min-height: 220px;
    border-radius: 12px;
    margin: 5%;
    word-break: break-all;
    cursor: pointer;
}

.qauickLinks .box:hover{
    border:1px solid #FFCC00;
    background: #fff;
}

.qauickLinks  .shape{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #FFCC00;
    border-radius: 100%;
    top: -40px;
    left:37%;
}

.qauickLinks h3{
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0px;
    text-transform: uppercase;
}

.qauickLinks a{
    padding-right: 16px;
    /* color:#3787FF; */
    color:#999;
    display: inline-block;
    margin: 2px 0px;
    text-decoration: none;
    font-size: 14px;
}
.qauickLinks .shape img{
    margin-top: 12px;
}

.qauickLinks p{
    color:#999;
    padding: 0px 20px;
    line-height: 20px;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .qauickLinks .box{
        padding: 2% 1%;
        margin: 5% 0px;

    }
    .qauickLinks h3 {
        font-size: 14px;
    }
}