@font-face{
    font-family: 'Roboto', sans-serif;
    src: url("@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Roboto:wght@100;300;400;500;700;900&display=swap')") format('TrueType');
}

.mainWraper{
    font-family: 'Roboto', sans-serif;
   
}

 .content{
    padding: 1rem 8rem!important;
    align-items: center;
} 


header{
    background:#fff;
    border-bottom:8px solid #FFCC00
}

header .logo{
    width:180px;
    cursor: pointer;

}

header .languages{
    width:max-content;
    border:none;

}

header .languages button{
    border:none!important;
}

header span{
    display: inline-block;
}

header .line{
    width: 1px;
        height: 30px;
        background: #dbdbdb;
        margin: 0px 20px -11px 20px;
        display: inline-block;
}
.userLogin{
    
    margin-top: 0px;
}
.userLogin a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    
}
.userLogin a:hover{
    color: #fc0;
}

.userLogin .userName{
    margin: 0px 8px;
    color: #000;
    font-weight: bold;
}

.notificationIcon{
    width:16px;
}

nav a, .active{
    margin-right: 8px;
    padding:7px 16px;
    border:1px solid #fff;
    border-radius:4px;
    text-decoration: none;
}

nav a:hover{
    color: #fc0;
    border:1px solid #e1e1e1;
}
nav .active{
    color: #000!important;
    background: #fff0b4;

}
.chevrondown svg{
    width: 15px!important;
    fill: #000!important;
    margin-left: 6px!important;
}

.rightSpace, .rightSpace .slds-input_faux{
    border:none!important;
    margin-right: 8px!important;
}

.summonsBtn{
    border: 1px
     solid #fff;
        padding: 6px 14px;
        border-radius: 4px;
        margin-right: 16px;
        background: #fff;
    
}

.profileImage img{
    border-radius: 100px;
}



@media screen and (min-width: 320px) and (max-width: 767px) {
    .content{
        padding: 0rem 1rem!important;
        
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
   .content{
        padding: 0rem 2rem!important;
        
    }
    .rightSpace{
        margin-right: 4px!important;
    }
    .summonsBtn{
        margin-right: 0px;
    }
    nav a{
        padding: 7px 4px;
        margin-left: 8px;
    }
    
}