.updateLicenseForm{
    align-items: center;
}

.updateLicenseForm h3{
    background: #fffae6;
    clear: both;
    width: 100%;
    padding: 6px 16px;
    font-weight: bold;
    margin: 20px 0px;
}


.updateLicenseTable  .clear{
    clear: both;
    width: 100%;
    /* margin: 20px 0px; */
    height: 1px;
    /* background: #e1e1e1; */
}

.updateLicenseForm  .slds-col{
    padding-left: 16px;
}


.updateLicenseTable  .primary_button{
    padding:10px 3%;
    background:#FFCC00;
    color:#000;
    margin:16px;
    border:1px solid #FFCC00;
    font-size: 16px;
    border-radius: 6px;
}
.updateLicenseTable .secondary_button{
    padding:10px 3%;
    background:#fff;
    color:#000;
    margin:16px 0px;
    border:1px solid #FFCC00;
    font-size: 16px;
    border-radius: 6px;
}

.updateLicenseForm strong{
    margin: 10px 0px 10px -16px;
    display: inline-block;
    /* background: #f3f3f3; */
    width: 100%;
    padding: 6px 16px;
}

.updateLicenseForm input{
    padding:0px;
}

.clearSpacing{
    clear: both;
    margin: 6px 0px;
    width: 100%;
}

.licenseName{
    width:180px;
}


.updateLicenseTable{
    font-size: 16px;
}

.updateLicenseTable td {
    padding: 10px 10px!important;
}
.updateLicenseTable input, .updateLicenseTable .slds-form-element  input{
    background: #fffae6;
    margin: 0px!important;
    padding:0px!important;
}

.updateLicenseTable table  tr:hover, .updateLicenseTable table  td:hover {
    background: none!important;
}
.sectionName{
    font-size: 18px;
    font-weight: bold;
    background: #fffae6;
}
.licenseName b{
    padding: 10px;
    background: #fff;
}

.licenseName{
    background: #fffae6;
}