footer{
    background:#FFCC00;
    font-size: 14px;
    /* position: absolute;
    bottom: 0px;
    width: 100%; */
    /* position: fixed;
    bottom: 0px;
    width: 100%; */
 
}

.mainWraper{
    font-family: 'Roboto', sans-serif;
   
}

.content{
    padding: 1rem 8rem!important;
    align-items: center;
}