@font-face{
    font-family: 'Roboto', sans-serif;
    src: url("@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Roboto:wght@100;300;400;500;700;900&display=swap')") format('TrueType');
}

.mainWraper{
    font-family: 'Roboto', sans-serif;
   
}

.content{
    padding: 1rem 8rem!important;
}

.statusDetails .box{
    border-radius: 4px;
    padding: 20px 16px;
    width: 96%;
    border-bottom: 5px solid #43B100;
}
.approvedData{
    background: rgba(67, 177, 0, 0.1);
    border-color: #43B100!important;

}

.submittedData{
    background: rgba(0, 123, 236, 0.1);
    border-color: #007BEC!important;

}

.draftData{
    background: rgba(255, 204, 0, 0.1);
    border-color: #FFCC00!important;

}

.expiredData{
    background: rgba(255, 61, 0, 0.1);
    border-color: #FF3D00!important;

}


.statusDetails .box strong{
    font-size: 16px;
    font-weight:500;
    text-transform: uppercase;
}

.statusDetails .box p{
    font-size: 12px;
    font-weight:500;

}

.statusDetails .box h2{
    font-size: 22px;
    font-weight:500;
}

.statusDetails .box img{
    width:55px;
}






.divider{
    clear:both;
    margin:30px 0px;
}
.tableData{
    max-height: 350px;
    overflow: auto;
}


.primary_button{
    padding:5px 5%;
    background:#FFCC00;
    color:#000;
    margin:16px;
    border:1px solid #FFCC00;
    font-size: 16px;
    border-radius: 6px;
}
.secondary_button{
    padding:4px 20px;
    background:#fff;
    color:#000;
    margin:16px 0px;
    border:1px solid #fff;
    font-size: 16px;
    border-radius: 6px;
}

/* table{
    margin:16px 0px;
}

table th, table td{
    padding:8px 10px;
}

table thead{

color:#000;
font-size:14px;
background:#FFFAE6;


}
table th{
    background:#FFFAE6;
    position: sticky;
    top: 0px;
}


table tbody tr{
    background:#F9F9F9;
    font-size: 12px;
    border-bottom: 4px solid #fff;
}
table tbody tr a{
    margin-left: 16px;
}

table tbody tr:hover{
    background:#fff;
}

.tableData{
    max-height: 350px;
    overflow: auto;
}
 */


.edit{
    width: 20px!important;
    --sds-c-icon-color-foreground-default: #3787FF;
}

.edit svg ,.delete svg{
    width: 20px!important;
}

.delete{
    width: 20px!important;
    --sds-c-icon-color-foreground-default: #FF3D00;
}



.pageTitle {
    padding: 1rem 0rem;
}

.pageTitle h3{
    font-size:18px;
    font-weight: 400;
}


.pageTitle p{
    font-size:16px;
    font-weight: 400;
    color:#808080;
}